<%-include('../partials/header');%>
<nav>
    <a href="/favorite" id="favoritesButton"><img src="/images/img/like.png" alt="Favorite dishes" /></a>
</nav>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" id="logout" class="deleteButton">Log out</button>
</form>
    <h1>Hi <%= user.name %> Your Menu</h1>
    <h2><%= numberOfDishes %> dishes</h2>
    
        <div class="dish-frame">

        <%-include('../partials/dish') %>

        </div>
        



    <a href="/add-dishes" class="floatingActionButton">+</a>

<%-include('../partials/footer');%>