<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>My profile - <%= user.name %></title>
  </head>
  <body>
 <form id="form" action="" method="POST">
  <input type="hidden" value="<%= user._id %>" name="userId">
    <div class="body--class">
    <div class="user"></div>
      <h1>My profile</h1>
      <h2><input value="<%= user.name %>" type="text" id="name" name="name"></h2>
      <p>Member since: 23-04-2022</p>
    </div>
  

    <div class="account">
      <h3>Account</h3>
      <h4>Username</h4>
      <h5><input value="<%= user.username %>" type="text" id="username" name="username"></h5>
      <h4>Email</h4>
      <h5><input value="<%= user.email %>" type="email" id="email" name="email"></h5>
      <h4>Phone number</h4>
      <h5><input value="<%= user.phone %>" type="number" id="phone" name="phone"></h5>
    </div>
 

    <div class="password">
      <h3>Password</h3>
      <button class="btn--password">Change password</button>
    </div>

    <div class="information">
      <h3>Personal information</h3>
      <h4>Country</h4>
      <h5><input value="<%= user.country %>" type="text" id="country" name="country"></h5>
      <h4>City</h4>
      <h5><input value="<%= user.city %>" type="text" id="city" name="city"></h5>
      <h4>Date of Birth</h4>
      <h5><input value="<%= user.dob %>" type="date" id="dob" name="dob"></h5>
    </div>
  <input class="btn--submit" type="submit" value="Submit">
</form>    
  </div> 
  </body>
</html>
