<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <title>My profile - <%= user.name %></title>
  </head>
  <body>
    <div class="body--class">
    <div class="user"></div>
      <h1>My profile</h1>
      <a href="/users/<%= user._id %>/edit">Edit</a>
      <h2><%= user.name %></h2>
      <p>Member since: 23-04-2022</p>
    </div>
  
    <div class="account">
      <h3>Account</h3>
      <h4>Username</h4>
      <h5><%= user.username %></h5>
      <h4>Email</h4>
      <h5><%= user.email %></h5>
      <h4>Phone number</h4>
      <h5><%= user.phone %></h5>
    </div>

    <div class="password">
      <h3>Password</h3>
      <button class="btn--password">Change password</button>
    </div>

    <div class="information">
      <h3>Personal information</h3>
      <h4>Country</h4>
      <h5><%= user.country %></h5>
      <h4>City</h4>
      <h5><%= user.city %></h5>
      <h4>Date of Birth</h4>
      <h5><%= user.dob %></h5>
    </div>
    
  </div> 
  </body>
</html>
